/* Generics */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

/* Header */

header a {
    text-decoration: none;
    color: inherit;
}

.header-links {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu>li {
    margin: 20px;
}

.btn {
    background-color: #0061FF;
    color: white;
    padding: 10px 15px;
    width: fit-content;
}

/* Hero Section */

#hero {
    background-color: #B4D0E7;
    min-height: 70%;
}

h1 {
    font-size: 5rem;
    padding-top: 5rem;
    font-weight: bolder;
}

#hero-img {
    object-fit: contain;
}

#arrow {
    /* debug  */
    font-size: 50px;
    padding-top: 5rem;
}

.flex-container {
    display: flex;
    position: relative;
    top: 4rem;
}

.big-col {
    width: 70%;
}

.small-col {
    width: 30%;
}