/* Utils */

.small-container {
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.big-container {
	max-width: 1200px;
	margin: 0 auto;
}

.column-container {
	margin: 1rem;
}

.big-col {
	width: 60%;
}

.small-col {
	width: 40%;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* Spaziature */

.standard {
	line-height: 1.25rem;
}

.m1 {
	margin: 1rem 0;
}

.m2 {
	margin: 2rem 0;
}

.m3 {
	margin: 3rem 0;
}

/* Bottoni */

.btn {
	background-color: var(--primary);
	color: white;
	padding: 10px 15px;
	width: fit-content;
}

.btn.neutro {
	background-color: inherit;
	color: inherit;
	border: 1px solid gray;
}

.btn.bianco {
	background-color: white;
	color: inherit;
	padding: 1rem 2.5rem;
}


/* Font */

strong {
	font-weight: bolder;
}